:root{
  --primary-bg-color: #0d6efd;
  --secondary-bg-color: #6c757d;
  --success-bg-color: #198754;
  --danger-bg-color: #dc3545;
  --waring-bg-color: #ffc107;
  --info-bg-color: #b6effb;
  --dark-bg-color: #212529;
  --light-bg-color: #f8f9fa;
  --online-icon-color: #73e217;
  --offline-icon-color: #DC2626 ;
}
.btn{
  outline: none;
  border: none;
  padding:0.6rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}
.primary-btn{
    color: #fff;
    background-color: var(--primary-bg-color);
}
.secondary-btn{
    color:#fff;
    background-color:var(--secondary-bg-color);
}
.success-btn{
    color:#fff;
    background-color:var(--success-bg-color);
}
.danger-btn{
    color:#fff;
    background-color:var(--danger-bg-color);
}
.warning-btn{
    color:black;
    background-color: var(--waring-bg-color)
}
.info-btn{
    color:black;
    background-color: var(--info-bg-color)
}
.dark-btn{
    color:#fff;
    background-color: var(--dark-bg-color)
}
.light-btn{
    color:#000;
    background-color: var(--light-bg-color)
}

/* Avatar section css */

.avatar-small{
    width: 3.1rem;
    height: 3.1rem;
    border-radius: 50%;
}
.avatar-medium{
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
}
.avatar-big{
    width: 5.3rem;
    height: 5.3rem;
    border-radius: 50%;
}
.reponsive-img{
    width: 100%;
    height: auto;
}
.round-img{
    border-radius: 50%;
    height:15rem;
    width: 15rem;
}

/*alert section css*/

.alert {
    padding: 1.3rem;
    border-radius: 5px;
    margin:10px 0;
  }
  .danger-alert{
    color: #fff;
    background-color: var(--danger-bg-color);
  }
  .success-alert{
    color: #fff;
    background-color: var(--success-bg-color);
  }
  .warning-alert{
    color: #664d03;
    background-color: var(--waring-bg-color);
  }
  .info-alert{
    color: #055160;
    background-color: var(--info-bg-color)
  }
  
  .dismiss-btn {
    color: white;
    font-weight: bold;
    float: right;
    font-size: 1.4rem;
    cursor: pointer;
  }
  
  .dismiss-btn:hover {
    color: black;
  }

  /* Rating section css */

.star-size1{
    color:orange;
    font-size: 1.5rem;
}
.star-size2{
    color:orange;
    font-size: 2rem;
}
.star-size3{
    color:orange;
    font-size: 2.5rem;
}
.star-size4{
    color:#000;
    font-size: 3rem;
}
.star-size5{
    color: #000;
    font-size: 3.5rem;
}

/* Badges section css */

.badge-icon-up {
    color: rgb(10, 10, 10);
    text-decoration: none;
    position: relative;
    font-size: 2.5rem;
  }
  
  .badge-icon-up:hover {
    color: red;
  }
  
  .badge-icon-up .icon-badge {
    position: absolute;
    top:-0.2rem;
    right: -0.2rem;
    padding:0.2rem 0.5rem;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 0.9rem;
  }

  .badge-icon-down {
    color: rgb(5, 5, 5);
    text-decoration: none;
    position: relative;
    font-size: 2.5rem;
  }
  
  .badge-icon-down:hover {
    color: red;
  }
  
  .badge-icon-down .icon-badge {
    position: absolute;
    bottom: -0.2rem;
    right: -0.2rem;
    padding:0.2rem 0.5rem;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 0.9rem;
  }

  /* Avatar Section css */

  .badge-avatar-up{
    position: relative; 
    text-decoration: none;
  }

  .badge-avatar-up .avatar-badge{
    position: absolute;
    top: -2.2rem;
    right: -0.1rem;
    padding: 8px 8px;
    border-radius: 50%;
  }

  .badge-avatar-up:hover{
    opacity: 0.7;
  }

  .badge-avatar-down{
    position: relative; 
    text-decoration: none;
  }

  .badge-avatar-down .avatar-badge{
    position: absolute;
    bottom: -1px;
    right: -1px;
    padding: 8px 8px;
    border-radius: 50%;
  }

  .badge-avatar-down:hover{
    opacity: 0.7;
  }
 .online{
  background-color: var(--online-icon-color);
  border: 1px solid whitesmoke;
 }
 .offline{
   background-color: var(--offline-icon-color);
   border: 1px solid whitesmoke;
 }

 /* navbar section css  */

 .nav-container{
   display:flex;
   justify-content: space-between;
   border: 2px solid rgba(80, 75, 75, 0.678);
   padding: 1rem 1.5rem;
   background-color: #818CF8;
   color: #fff;
   border-radius: 3px;
   font-weight: 500;
 }
 .link a{
   margin:1rem;
   color: #fff;
   text-decoration: none;
 }
 .link a:hover{
   color:blue;
   cursor: pointer;
 }

 /* List section css */

 .list-stacked-item{
   border:1px solid #a1a6aa;
   padding:0.7rem;
   list-style-type: none;
 }
.list-space-item{
  border:1px solid #a1a6aa;
  padding:0.7rem;
  list-style-type: none;
  margin:1rem 0rem;
  border-radius: 3px;
}

/* Form section css */

lable{
  display:block
}
.input-box{
  padding:0.6rem;
  font-size: 1rem;
  width: 80%;
  border-radius: 5px;
  border:1px solid #dae1e7;
  background-color: #dae1e7;
  outline: none;
  margin-bottom: 1rem;
}
.error-box{
  background-color: #fce4e4;
  border: 1px solid #cc0033;
  outline: none;
}
.textarea{
  border: none;
  outline: none;
  background-color: #dae1e7;
  padding:0.7rem;
  border-radius: 5px;
}

/* Card section css */


.card-container{
  display: flex;
}

.card-img{
  width: 100%;
}
.card{
  display:flex;
  box-shadow: 2px 2px 3px black;
  margin:1rem;
  padding:0rem;
  flex-direction:column;
  width:250px;
  flex-wrap: wrap; 
  position: relative;
}
.card-text{
  padding:1rem 0.5rem
}
.card-btn{
  font-size: 0.8rem;
  margin-left: 0;
  margin-top:0.5rem
}
.card-tag{
  position: absolute;
  display: inline-block;
  border: 1px solid inherit;
  border-top-right-radius: 7px;
  border-bottom-right-radius:7px ;
  top:0.5rem;
  left: 0px;
  background: rgb(253, 20, 20);
  color: white;
  padding: 0.1rem 0.5rem 0.1rem 1.5rem;
  font-size: 0.8rem;
}
.card-close{
    position: absolute;
    color: whitesmoke;
    right:0.5rem;
    top:-9px;
    font-size: 2.5rem;
    cursor: pointer;
    font-weight: 500;
}
.card-wishlist{
    position: absolute;
    color: whitesmoke;
    right:2.2rem;
    top:6px;
    font-size:1.4rem;
    cursor: pointer;
}

/* Typography section css */

.h1{
  font-size: 4rem;
}
.h2{
  font-size: 3.5rem;
}
.h3{
  font-size: 3rem;
}
.h4{
  font-size: 2.5rem;
}
.h5{
  font-size: 2rem;
}
.h6{
  font-size:1.5rem;
}
.small-text{
  font-size: 0.8rem;;
}
.gray-text{
  color: gray;
}
.center-text{
  text-align: center;
}

